node_modules
.env
venv
__pycache__
credentials.py
tmp/*jpg
tmp/*png
tmp/*jpeg
tmp/*gif
.pytest_cache
*.exe

.env.local

/website/.DS_Store
/website/build
/website/.svelte-kit
/website/package
/website/.env
/website/.env.*
/website/!.env.example
/website/.vercel
/website/.output
/website/vite.config.js.timestamp-*
/website/vite.config.ts.timestamp-*

.next
tmp

dist

resources